{% load static %}

{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>BLADES BARBER SHOP</title>
  <!-- Bootstrap core CSS -->
  <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>


<body>

    <!-- create a navbar here -->

    {% include 'account/navbar.html' %}

        <!-- Notification messages -->

        {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

            <p id="message-timer" class="alert alert-success float-center text-center message-text">

                <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{message}}

            </p>

        {% endif %}

        {% endfor %}

        {% block content %}


        <!-- Masthead-->
        
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">SALON FOR MEN!</div>
                <div class="masthead-heading text-uppercase">MODERN HAIRCUT WHERE MEN GET READY!</div>
                <a href="{% url 'login' %}" a class="btn btn-primary btn-xl text-uppercase">Book now</a>
            </div>
        </header>

        <!-- Services-->
        <section class="page-section bg-light" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">We provide compassionate and expert care to you. You are at the center of everything we do!</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://res.cloudinary.com/diiwrl3tz/image/upload/v1703879157/barber/service3_t4uk2u.jpg" alt="..." />
                            <h4>Skin Fade</h4>
                            <p class="text-muted">The skin fade is a modern and stylish haircut for men.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://res.cloudinary.com/diiwrl3tz/image/upload/v1703879155/barber/service2_bq3yws.jpg" alt="..." />
                            <h4>Haircut</h4>
                            <p class="text-muted">The best way to look well-groomed.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://res.cloudinary.com/diiwrl3tz/image/upload/v1703879170/barber/The-best-barbers-in-Camberwell_o1dhin.jpg" alt="..." />
                            <h4>Beard Trim</h4>
                            <p class="text-muted">The best way to ensure you look presentable.</p>
                        </div>
                    </div>
                </div>
        </section>



        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About us</h2>
                    <h3 class="section-subheading text-muted">Our history</h3>
                </div>
                <div class="timeline-body">
                <p class="text-muted">Our journey began with a vision to create a space that goes beyond just haircuts. Rooted in the rich history of barbering, we set out to revive the timeless art of grooming, combining classic techniques with contemporary trends.
                    Over the years, Blades Barber Shop has become a hub for those seeking more than just a haircut – a place where craftsmanship, camaraderie, and a passion for personal style converge. Our team of skilled barbers brings a wealth of experience and a dedication to the craft, ensuring that every client leaves our chairs not just looking good but feeling confident.
                    Step into our shop, and you'll be greeted by the nostalgic ambiance of a bygone era, where the sound of clippers harmonizes with friendly banter. It's a space that honors the traditions of the barber shop while embracing the ever-evolving world of men's grooming.
                    We pride ourselves on creating a welcoming environment where clients become part of our extended family. Whether you're after a classic cut, a modern fade, or a beard trim, our barbers are here to turn your vision into a reality.
                </p>
                
                        <div class="text-center">

                            <h4>
                                Be Part
                                Of Our
                                Story!
                            </h4>
                            
                        </div>
                </div>
            </div>
        </section>

        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Meet our barber team excellence.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://res.cloudinary.com/diiwrl3tz/image/upload/v1703879163/barber/team2_dq3wh8.jpg" alt="..." />
                            <h4>Luke</h4>
                            <p class="text-muted">Founder</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/accounts/login/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i>
                                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/login/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/login" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://res.cloudinary.com/diiwrl3tz/image/upload/v1703879165/barber/team3_yspn1v.jpg" alt="..." />
                            <h4>Dylan</h4>
                            <p class="text-muted">Barber member</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/accounts/login/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i>
                                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/login/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/login" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://res.cloudinary.com/diiwrl3tz/image/upload/v1703879161/barber/team1_lctgid.webp" alt="..." />
                            <h4>Luan Parker</h4>
                            <p class="text-muted">Barber member</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/accounts/login/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i>
                                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/login/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/login" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Precision in every snip!</p></div>
                </div>
            </div>
        </section>

        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                
                <footer class="footer text-white py-2 mt-3">
                    <div class="container text-center">
                        
            
                    <div class="info-container">
                        <div class="opening-time">
                            <h3>Opening Time <i class="fa-regular fa-calendar-days"></i></h3>
                            <p>
                                <span class="contact-item">Mon-Fri: 10:00 AM - 7:00 PM</span>
                                <span class="contact-item">Sat-Sun: 12:00 AM - 5:00 PM</span>
                            </p>
                        </div>
                        <br>
                        <div class="contact-adress">
                            <h3>Contact <i class="fa-solid fa-location-dot"></i></h3>
                            <p>
                                <span class="contact-item">(123) 456-7890</span>
                                <span class="contact-item">123 Spire Street</span>
                                <span class="contact-item">Styletown, 123</span>
                            </p>
                            </div>
                        </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                            </div>
                        </div>
                    </div>
                    
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/accounts/login/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/login/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/login" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        
        {% endblock %}




    
    <script src="{% static 'js/app.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="static/js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    

</body>

</html>