{% extends 'account/base.html' %}

{% block content %}


    <h1>Welcome to your Barber Shop {{user}}! <i class="fa fa-user" aria-hidden="true"></i></h1>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">

        Create a new appointment &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr> 

    <table class="table table-hover">

        <thead>

            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Full name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phone </th>
                <th scope="col"> Date </th>
                <th scope="col"> Time </th>
                <th scope="col"> Service </th>

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>


    {% if records %}

        {% for record in records %}

        <tr>
            <td> {{record.id}}</td>
            <td> {{record.name}}</td>
            <td> {{record.email}}</td>
            <td> {{record.phone}}</td>
            <td> {{record.date}}</td>
            <td> {{record.time}}</td>
            <td> {{record.service}}</td>

            <td> <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}">Details <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

        </tr>



        {% endfor %}

    {% endif %}


        </tbody>


        </table>



{% endblock %}
