{% extends 'account/base.html' %}


{% block content %}
<section class="section-intro">
    <header>
        <h1>Welcome to your Barber Shop.</h1>
    </header>
</section>

<section>
    <div class="container py-5">
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-primary" type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="" class="btn-primary">Login</a></p>
    </div>
</section>
{% endblock %}