{% extends 'account/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3> Make an appointment </h3>

        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

                {{form.fname|as_crispy_field}}

                <br>

                {{form.email|as_crispy_field}}

                <br>

                {{form.phone|as_crispy_field}}

                <br>

                {{form.date|as_crispy_field}}

                <br>

                {{form.time|as_crispy_field}}

                <br>

                {{form.note|as_crispy_field}}

                <br>

                

                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Update record &nbsp; <i class="fa fa-key" aria-hidden="true"></i> </button>


            </form>
        </div>
    </body>


{% endblock %}